In [1]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine
import pandas as pd

In [2]:
user = 'root'
password = 'AlumnaAdalab'
host = '127.0.0.1'

# Try the connection and check the error message and code in case it is not working
try:
  cnx = mysql.connector.connect(user = user, password = password,
                                host = host)
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cnx.close()

In [3]:
user = 'root'
password = 'AlumnaAdalab'
host = '127.0.0.1'

# conexi√≥n (1)
cnx = mysql.connector.connect(user = user, password = password,
                              host = host)

# cursor (2)
mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE project_talent")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE project_talent

In [4]:
# Adding the data from artists.csv Database (LastFM) - data on artists
engine_route = 'mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/project_talent'
location = 'C:\\Users\\aleiv\\Desktop\\Adalab\\da-promo-50-ana-leiva\\Modulo 3\\Proyecto\\project-da-promo-50-modulo-3-team-4\\df_transformado.csv'

# Create the connection engine
engine = create_engine(engine_route)
# Uppload the CSV file in a DataFrame 
df = pd.read_csv(location)
# Verify that the first registries are in order
print(df.head())

   age attrition business_travel  daily_rate              department  \
0   51        no             NaN     2015.72                     NaN
1   52        no             NaN     2063.39                     NaN
2   42        no   travel_rarely     1984.25  research_&_development
3   47        no   travel_rarely     1771.40                     NaN
4   46        no             NaN     1582.77                     NaN

   distance_from_home  education   education_field  employee_number  \
0                   6          3               NaN                1
1                   1          4     life_sciences                2
2                   4          2  technical_degree                3
3                   2          4           medical                4
4                   3          3  technical_degree                5

  environment_satisfaction  ... total_working_years  training_times_last_year  \
0                      low  ...                 NaN                         5
1                     high  ...                34.0                         5
2                     high  ...                22.0                         3
3                      low  ...                 NaN                         2
4                      low  ...                 NaN                         5

  work_life_balance years_at_company years_since_last_promotion  \
0              good               20                         15
1              good               33                         11
2               NaN               22                         11
3               NaN               20                          5
4              good               19                          2

  years_with_curr_manager date_birth    salary  \
0                      15       1972  195370.0
1                       9       1971  199990.0
2                      15       1981  192320.0
3                       6       1976  171690.0
4                       8       1977       NaN

                       role_departament  remote_work
0                                   NaN          yes
1                                   NaN          yes
2   ManaGER  -  Research & Development           yes
3                                   NaN           no
4                                   NaN           no

[5 rows x 36 columns]