In [ ]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine
import pandas as pd
import itertools as it

In [ ]:
df = pd.read_csv("df_final.csv")
df.head()

In [ ]:
df.columns

# Creating tables

Table 1 - Employees (primary_key: employee_number)    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 4 - education: education_id + education_category  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 5 - education_field: education_field_id + education_field  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 7 - gender: gender_id + gender  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 10 - marital_status: marital_status_id + marital_status  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 12 - stock_option_level: stock_option_level_id + stock_option_level (numerica)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tables - Salaries  

->Table 2 - Identificador de trabajos Tipologias de trabajo  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 2 - business_travel: business_travel_id + business_travel_category  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 11 - standard_hours: standard_hours_id + standard_hours_category     
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table - Remote work

-> Table 3 - scale_1_4: scale_id + scale_level  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; environment_satisfaction   
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; job_satisfaction  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; relationship_satisfaction   
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; job_involvement  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 13 - work_life_balance: work_life_balance_id + work_life_balance_category    

-> Table 4 - Department_Role  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 3 - department: department_id + department_name  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 8 - job_level: job_level_id + job_level  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table 9 - job_role: job_role_id + job_role

In [ ]:
# Table 2 - Work Typologies
# Create list of the typologies characteristics
categories1 = df['business_travel'].unique().tolist()
categories2 = df['standard_hours'].unique().tolist()
categories3 = df['remote_work'].unique().tolist()

# Create DataFrames (df) based on the litsts
work_typologies1 = pd.DataFrame({'category_travel': categories1})
work_typologies2 = pd.DataFrame({'category_std_hours': categories2})
work_typologies3 = pd.DataFrame({'category_remote': categories3})

# Create a mapping order for the characteristics
order_mapping1 = {'non_travel': 1, 'travel_rarely': 2, 'travel_frequently': 3, 'NaN': 4}
order_mapping2 = {'full_time': 1, 'part_time': 2, 'NaN': 3}
order_mapping3 = {'yes': 1, 'no': 2, 'NaN': 3}

# Sort using custom mapping
work_typologies1 = work_typologies1.assign(sort_order = lambda work_typologies1: work_typologies1['category_travel'].map(order_mapping1)).sort_values('sort_order').drop('sort_order', axis=1)
work_typologies2 = work_typologies2.assign(sort_order = lambda work_typologies2: work_typologies2['category_std_hours'].map(order_mapping2)).sort_values('sort_order').drop('sort_order', axis=1)
work_typologies3 = work_typologies3.assign(sort_order = lambda work_typologies3: work_typologies3['category_remote'].map(order_mapping3)).sort_values('sort_order').drop('sort_order', axis=1)

# Assign an _id
work_typologies1.loc[work_typologies1['category_travel'] == 'non_travel', 'travel_id'] = 1
work_typologies1.loc[work_typologies1['category_travel'] == 'travel_rarely', 'travel_id'] = 2
work_typologies1.loc[work_typologies1['category_travel'] == 'travel_frequently', 'travel_id'] = 3

work_typologies2.loc[work_typologies2['category_std_hours'] == 'full_time', 'std_hours_id'] = 1
work_typologies2.loc[work_typologies2['category_std_hours'] == 'part_time', 'std_hours_id'] = 2


work_typologies3.loc[work_typologies3['category_remote'] == 'yes', 'remote_id'] = 1
work_typologies3.loc[work_typologies3['category_remote'] == 'no', 'remote_id'] = 2

# Round _id, allowing for NaN values
work_typologies1['travel_id'] = work_typologies1['travel_id'].round().astype('Int64') # Use 'Int64' to handle NaN values
work_typologies2['std_hours_id'] = work_typologies2['std_hours_id'].round().astype('Int64') # Use 'Int64' to handle NaN values
work_typologies3['remote_id'] = work_typologies3['remote_id'].round().astype('Int64') # Use 'Int64' to handle NaN values

# Combine the characteristics
cross_joined_df1 = work_typologies1.merge(work_typologies2, how = 'cross')
cross_joined_df2 = cross_joined_df1.merge(work_typologies3, how = 'cross')
cross_joined_df2 = cross_joined_df2.drop_duplicates()

# Create typology_id based on characteristics' categories_id
cross_joined_df2['typology_id'] = cross_joined_df2['travel_id']*100 + cross_joined_df2['std_hours_id']*10 + cross_joined_df2['remote_id'] 
mask = pd.isna(cross_joined_df2['typology_id'])
cross_joined_df2.loc[mask, 'typology_id'] = (cross_joined_df2.loc[mask, 'std_hours_id'] * 10 + cross_joined_df2.loc[mask, 'remote_id'])

# Create typology based on characteristics' categories
cross_joined_df2['typology'] = cross_joined_df2['category_travel'] + ', ' + cross_joined_df2['category_std_hours']+ ', ' + cross_joined_df2['category_remote'] +' remote' 
mask = pd.isna(cross_joined_df2['typology'])
cross_joined_df2.loc[mask, 'typology'] = (cross_joined_df2.loc[mask, 'category_std_hours'] + ', ' + cross_joined_df2.loc[mask, 'category_remote'] +' remote')

print(cross_joined_df2[['travel_id','std_hours_id','remote_id','typology_id','typology']])

cross_joined_df2.to_csv("table2.csv", index=False)

In [ ]:
# Table 3 - Satisfaction
# Create list of the satisfaction characteristics
categories1 = df['environment_satisfaction'].unique().tolist()
categories2 = df['job_satisfaction'].unique().tolist()
categories3 = df['job_involvement'].unique().tolist()
categories4 = df['relationship_satisfaction'].unique().tolist()
categories4 = df['work_life_balance'].unique().tolist()

# Create DataFrames (df) based on the litsts
work_typologies1 = pd.DataFrame({'category_travel': categories1})
work_typologies2 = pd.DataFrame({'category_std_hours': categories2})
work_typologies3 = pd.DataFrame({'category_remote': categories3})

# Create a mapping order for the characteristics
order_mapping1 = {'non_travel': 1, 'travel_rarely': 2, 'travel_frequently': 3, 'NaN': 4}
order_mapping2 = {'full_time': 1, 'part_time': 2, 'NaN': 3}
order_mapping3 = {'yes': 1, 'no': 2, 'NaN': 3}

# Sort using custom mapping
work_typologies1 = work_typologies1.assign(sort_order = lambda work_typologies1: work_typologies1['category_travel'].map(order_mapping1)).sort_values('sort_order').drop('sort_order', axis=1)
work_typologies2 = work_typologies2.assign(sort_order = lambda work_typologies2: work_typologies2['category_std_hours'].map(order_mapping2)).sort_values('sort_order').drop('sort_order', axis=1)
work_typologies3 = work_typologies3.assign(sort_order = lambda work_typologies3: work_typologies3['category_remote'].map(order_mapping3)).sort_values('sort_order').drop('sort_order', axis=1)

# Assign an _id
work_typologies1.loc[work_typologies1['category_travel'] == 'non_travel', 'travel_id'] = 1
work_typologies1.loc[work_typologies1['category_travel'] == 'travel_rarely', 'travel_id'] = 2
work_typologies1.loc[work_typologies1['category_travel'] == 'travel_frequently', 'travel_id'] = 3

work_typologies2.loc[work_typologies2['category_std_hours'] == 'full_time', 'std_hours_id'] = 1
work_typologies2.loc[work_typologies2['category_std_hours'] == 'part_time', 'std_hours_id'] = 2


work_typologies3.loc[work_typologies3['category_remote'] == 'yes', 'remote_id'] = 1
work_typologies3.loc[work_typologies3['category_remote'] == 'no', 'remote_id'] = 2

# Round _id, allowing for NaN values
work_typologies1['travel_id'] = work_typologies1['travel_id'].round().astype('Int64') # Use 'Int64' to handle NaN values
work_typologies2['std_hours_id'] = work_typologies2['std_hours_id'].round().astype('Int64') # Use 'Int64' to handle NaN values
work_typologies3['remote_id'] = work_typologies3['remote_id'].round().astype('Int64') # Use 'Int64' to handle NaN values

# Combine the characteristics
cross_joined_df1 = work_typologies1.merge(work_typologies2, how = 'cross')
cross_joined_df2 = cross_joined_df1.merge(work_typologies3, how = 'cross')
cross_joined_df2 = cross_joined_df2.drop_duplicates()

# Create typology_id based on characteristics' categories_id
cross_joined_df2['typology_id'] = cross_joined_df2['travel_id']*100 + cross_joined_df2['std_hours_id']*10 + cross_joined_df2['remote_id'] 
mask = pd.isna(cross_joined_df2['typology_id'])
cross_joined_df2.loc[mask, 'typology_id'] = (cross_joined_df2.loc[mask, 'std_hours_id'] * 10 + cross_joined_df2.loc[mask, 'remote_id'])

# Create typology based on characteristics' categories
cross_joined_df2['typology'] = cross_joined_df2['category_travel'] + ', ' + cross_joined_df2['category_std_hours']+ ', ' + cross_joined_df2['category_remote'] +' remote' 
mask = pd.isna(cross_joined_df2['typology'])
cross_joined_df2.loc[mask, 'typology'] = (cross_joined_df2.loc[mask, 'category_std_hours'] + ', ' + cross_joined_df2.loc[mask, 'category_remote'] +' remote')

print(cross_joined_df2[['travel_id','std_hours_id','remote_id','typology_id','typology']])

cross_joined_df2.to_csv("table2.csv", index=False)

In [ ]:
# Table 3 - scale
categories = df['environment_satisfaction'].unique().tolist()
#categories
df_scale_1_4 = pd.DataFrame({'scale_level': categories})
#df_scale_1_4
order_mapping = {'low': 1, 'medium': 2, 'high': 3, 'very_high': 4, 'NaN': 5}

# Sort using custom mapping
df_scale = df_scale_1_4.assign(sort_order = lambda df_scale_1_4: df_scale_1_4['scale_level'].map(order_mapping)).sort_values('sort_order').drop('sort_order', axis=1)

df_scale.loc[df_scale['scale_level'] == 'low', 'scale_level_id'] = 1
df_scale.loc[df_scale['scale_level'] == 'medium', 'scale_level_id'] = 2
df_scale.loc[df_scale['scale_level'] == 'high', 'scale_level_id'] = 3
df_scale.loc[df_scale['scale_level'] == 'very_high', 'scale_level_id'] = 4

df_scale['scale_level_id'] = df_scale['scale_level_id'].round().astype('Int64') # Use 'Int64' to handle NaN values

print(df_scale)

df_scale.to_csv("table3.csv", index=False)

In [ ]:
# Table 4 - Department_role
# Create list of the department_role categories
categories1 = df['department'].unique().tolist()
categories2 = df['job_level'].unique().tolist()
categories3 = df['job_role'].unique().tolist()

# Create DataFrames (df) based on the litsts
department_role1 = pd.DataFrame({'category_department': categories1})
department_role2 = pd.DataFrame({'category_level': categories2})
department_role3 = pd.DataFrame({'category_role': categories3})

# Create a mapping order for the characteristics
order_mapping1 = {'research_&_development': 1, 'sales': 2, 'human_resources': 3, 'NaN': 4}
order_mapping2 = {'entry_level': 1, 'manager': 2, 'executive': 3, 'intermediate': 4, 'senior': 5, 'NaN': 6}
order_mapping3 = {'research_director': 1, 'manager': 2, 'sales_executive': 3, 'manufacturing_director': 4, 'research_scientist': 5,
                    'healthcare_representative': 6, 'laboratory_technician': 7, 'sales_representative': 8, 'human_resources': 9, 'NaN': 10}

# Sort using custom mapping
department_role1 = department_role1.assign(sort_order = lambda department_role1: department_role1['category_department'].map(order_mapping1)).sort_values('sort_order').drop('sort_order', axis=1)
department_role2 = department_role2.assign(sort_order = lambda department_role2: department_role2['category_level'].map(order_mapping2)).sort_values('sort_order').drop('sort_order', axis=1)
department_role3 = department_role3.assign(sort_order = lambda department_role3: department_role3['category_role'].map(order_mapping3)).sort_values('sort_order').drop('sort_order', axis=1)

# Assign an _id
department_role1.loc[department_role1['category_department'] == 'research_&_development', 'department_id'] = 1
department_role1.loc[department_role1['category_department'] == 'sales', 'department_id'] = 2
department_role1.loc[department_role1['category_department'] == 'human_resources', 'department_id'] = 3

department_role2.loc[department_role2['category_level'] == 'entry_level', 'level_id'] = 1
department_role2.loc[department_role2['category_level'] == 'manager', 'level_id'] = 2
department_role2.loc[department_role2['category_level'] == 'executive', 'level_id'] = 3
department_role2.loc[department_role2['category_level'] == 'intermediate', 'level_id'] = 4
department_role2.loc[department_role2['category_level'] == 'senior', 'level_id'] = 5

department_role3.loc[department_role3['category_role'] == 'research_director', 'role_id'] = 1
department_role3.loc[department_role3['category_role'] == 'manager', 'role_id'] = 2
department_role3.loc[department_role3['category_role'] == 'sales_executive', 'role_id'] = 3
department_role3.loc[department_role3['category_role'] == 'manufacturing_director', 'role_id'] = 4
department_role3.loc[department_role3['category_role'] == 'research_scientist', 'role_id'] = 5
department_role3.loc[department_role3['category_role'] == 'healthcare_representative', 'role_id'] = 6
department_role3.loc[department_role3['category_role'] == 'laboratory_technician', 'role_id'] = 7
department_role3.loc[department_role3['category_role'] == 'sales_representative', 'role_id'] = 8
department_role3.loc[department_role3['category_role'] == 'human_resources', 'role_id'] = 9

# Round _id, allowing for NaN values
department_role1['department_id'] = department_role1['department_id'].round().astype('Int64') # Use 'Int64' to handle NaN values
department_role2['level_id'] = department_role2['level_id'].round().astype('Int64') # Use 'Int64' to handle NaN values
department_role3['role_id'] = department_role3['role_id'].round().astype('Int64') # Use 'Int64' to handle NaN values

# Combine the characteristics
cross_joined_df1 = department_role1.merge(department_role2, how = 'cross')
cross_joined_df2 = cross_joined_df1.merge(department_role3, how = 'cross')
cross_joined_df2 = cross_joined_df2.drop_duplicates()

# Create typology_id based on characteristics' categories_id
cross_joined_df2['department_role_id'] = cross_joined_df2['department_id']*100 + cross_joined_df2['level_id']*10 + cross_joined_df2['role_id'] 
mask = pd.isna(cross_joined_df2['department_role_id'])
cross_joined_df2.loc[mask, 'department_role_id'] = (cross_joined_df2.loc[mask, 'level_id'] * 10 + cross_joined_df2.loc[mask, 'role_id'])

# Create typology based on characteristics' categories
cross_joined_df2['department_role'] = cross_joined_df2['category_department'] + ', ' + cross_joined_df2['category_level']+ ', ' + cross_joined_df2['category_role'] 
mask = pd.isna(cross_joined_df2['department_role'])
cross_joined_df2.loc[mask, 'department_role'] = (cross_joined_df2.loc[mask, 'category_level'] + ', ' + cross_joined_df2.loc[mask, 'category_role'])

print(cross_joined_df2[['department_id','level_id','role_id','department_role_id','department_role']])

cross_joined_df2.to_csv("table4.csv", index=False)

In [ ]:
# Table 1

In [ ]:
user = 'root'
password = 'AlumnaAdalab'
host = '127.0.0.1'

# Try the connection and check the error message and code in case it is not working
try:
  cnx = mysql.connector.connect(user = user, password = password,
                                host = host)
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cnx.close()

In [ ]:
user = 'root'
password = 'AlumnaAdalab'
host = '127.0.0.1'

# conexi√≥n (1)
cnx = mysql.connector.connect(user = user, password = password,
                              host = host)

# cursor (2)
mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE project_talent")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [ ]:
# Adding the data from artists.csv Database (LastFM) - data on artists
engine_route = 'mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/project_talent'
location = 'C:\\Users\\aleiv\\Desktop\\Adalab\\da-promo-50-ana-leiva\\Modulo 3\\Proyecto\\project-da-promo-50-modulo-3-team-4\\df_transformado.csv'

# Create the connection engine
engine = create_engine(engine_route)
# Uppload the CSV file in a DataFrame 
df = pd.read_csv(location)
# Verify that the first registries are in order
print(df.head())